<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- ─── Views ─────────────────────────────────────────────── -->
  <extension point="org.eclipse.ui.views">
    <view
        id="xyz.devglobe.eclipse.view"
        name="DevGlobe"
        icon="icons/devglobe16.png"
        class="xyz.devglobe.eclipse.ui.DevGlobeView"
        category="xyz.devglobe.eclipse.category">
    </view>
    <category
        id="xyz.devglobe.eclipse.category"
        name="DevGlobe">
    </category>
  </extension>

  <!-- ─── Commands ──────────────────────────────────────────── -->
  <extension point="org.eclipse.ui.commands">
    <category
        id="xyz.devglobe.eclipse.commands.category"
        name="DevGlobe">
    </category>


    <command
        id="xyz.devglobe.eclipse.commands.showCodingTime"
        name="Show Coding Time"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.openGlobe"
        name="Open Globe"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.toggleDebug"
        name="Toggle Debug Mode"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.openLogFile"
        name="Open Log File"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.openConfigFile"
        name="Open Config File"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.openView"
        name="Open DevGlobe View"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
    <command
        id="xyz.devglobe.eclipse.commands.setStatus"
        name="Set Status"
        categoryId="xyz.devglobe.eclipse.commands.category">
    </command>
  </extension>

  <!-- ─── Handlers ──────────────────────────────────────────── -->
  <extension point="org.eclipse.ui.handlers">

    <handler
        commandId="xyz.devglobe.eclipse.commands.showCodingTime"
        class="xyz.devglobe.eclipse.actions.ShowCodingTimeHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.openGlobe"
        class="xyz.devglobe.eclipse.actions.OpenGlobeHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.toggleDebug"
        class="xyz.devglobe.eclipse.actions.ToggleDebugHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.openLogFile"
        class="xyz.devglobe.eclipse.actions.OpenLogFileHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.openConfigFile"
        class="xyz.devglobe.eclipse.actions.OpenConfigFileHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.openView"
        class="xyz.devglobe.eclipse.actions.OpenDevGlobeViewHandler">
    </handler>
    <handler
        commandId="xyz.devglobe.eclipse.commands.setStatus"
        class="xyz.devglobe.eclipse.actions.SetStatusHandler">
    </handler>
  </extension>

  <!-- ─── Menu ──────────────────────────────────────────────── -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu
          id="xyz.devglobe.eclipse.menu"
          label="DevGlobe"
          mnemonic="D">
        <command
            commandId="xyz.devglobe.eclipse.commands.openView"
            mnemonic="V">
        </command>
        <separator
            name="xyz.devglobe.eclipse.separator0"
            visible="true">
        </separator>
        <command
            commandId="xyz.devglobe.eclipse.commands.setStatus"
            mnemonic="S">
        </command>
        <command
            commandId="xyz.devglobe.eclipse.commands.showCodingTime"
            mnemonic="C">
        </command>

        <command
            commandId="xyz.devglobe.eclipse.commands.openGlobe"
            mnemonic="G">
        </command>
        <separator
            name="xyz.devglobe.eclipse.separator1"
            visible="true">
        </separator>
        <command
            commandId="xyz.devglobe.eclipse.commands.toggleDebug"
            mnemonic="D">
        </command>
        <command
            commandId="xyz.devglobe.eclipse.commands.openLogFile"
            mnemonic="L">
        </command>
        <command
            commandId="xyz.devglobe.eclipse.commands.openConfigFile"
            mnemonic="O">
        </command>
      </menu>
    </menuContribution>

    <!-- Top toolbar contribution -->
    <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
      <toolbar id="xyz.devglobe.eclipse.toolbar">
        <command
            commandId="xyz.devglobe.eclipse.commands.openView"
            icon="icons/devglobe16.png"
            label="DevGlobe"
            tooltip="Open DevGlobe View">
        </command>
      </toolbar>
    </menuContribution>

    <!-- Right-side vertical toolbar contribution -->
    <menuContribution locationURI="toolbar:org.eclipse.ui.trim.vertical">
      <toolbar id="xyz.devglobe.eclipse.trim.toolbar">
        <command
            commandId="xyz.devglobe.eclipse.commands.openView"
            icon="icons/devglobe16.png"
            label="DevGlobe"
            tooltip="Open DevGlobe">
        </command>
      </toolbar>
    </menuContribution>
  </extension>



  <!-- ─── Early Startup ─────────────────────────────────────── -->
  <extension point="org.eclipse.ui.startup">
    <startup
        class="xyz.devglobe.eclipse.core.DevGlobeStartup"/>
  </extension>

  <!-- ─── Preference Page ────────────────────────────────────── -->
  <extension point="org.eclipse.ui.preferencePages">
    <page
        id="xyz.devglobe.eclipse.preferences"
        name="DevGlobe"
        class="xyz.devglobe.eclipse.preferences.DevGlobePreferencePage">
    </page>
  </extension>

  <!-- ─── Preferences ────────────────────────────────────────── -->
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
        class="xyz.devglobe.eclipse.preferences.DevGlobePreferenceInitializer"/>
  </extension>



</plugin>
